.name Varun 
  span Singh
.main-page-squares
  .projects 
    .text Projects
    .square-content
  .music 
    .text Music
    .square-content
  .about 
    .text About
    .square-content
  .contact 
    .text Contact
    .square-content
