html#mothership(lang='en')
//<html lang="en" id="mothership" manifest="/api/v5/static/mothership/manifest.appcache"> 
// Comment
head
    if !isDevelopment
        script
          window.console = {};
          window.console.log = function() {};

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //meta(name='viewport', content='width=640, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title Varun Singh

    //link(href='http://fonts.googleapis.com/css?family=Peralta', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quando', rel='stylesheet', type='text/css')
    if isDevelopment
        link(rel="stylesheet/less", type='text/css', href="/css/styles.less")
        script(type='text/javascript', src='/js/libs/less-1.3.0.min.js')

        // Application source. 
        script(type="text/javascript", src="/js/templates.js")
        script(data-main="/js/config", type="text/javascript", src="/js/libs/require.js")
    else 
        script(type='text/css', href="/release/styles.css")
        script(type='text/javascript', src='/js/libs/require.js')

body
#isDevelopment(style='display: none;')  #{isDevelopment}
#animation-wrapper
  #header
  #tabs
  #main-page-wrapper

if !isDevelopment
    script(type='text/javascript', src='/release/app.js')
